@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "https://use.fontawesome.com/releases/v6.3.0/css/all.css";

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #ff0000;
  margin-right: 10px;
  height: 30px;
  transition: transform 0.1s, opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.01);
  opacity: 0.8;
}

.bg-dark {
  background: #12c2e9!important;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9)!important;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9)!important;
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  background-color: #2C3E50;
}

.navbar-dark .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgreen;
  z-index: -1;
}

.navbar-nav .nav-link.btn-primary {
  color: #ff0000;
  background-color: #2C3E50;
  border-color: #ff0000;
}

.navbar-nav .nav-link.btn-primary:hover {
  color: #fff;
  background-color: yellowgreen;
  border-color: #ff0000;
}

#map { height: 300px; width: 700px; }

.main-cover-pic {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../images/collage.jpg");
  background-size: cover;
  background-position: center;
  min-height: 120vh;
  min-width: 100%;
  object-fit: fill;
}

.main-cover-pic h1, .main-cover-pic p {
  color: #fff;
  text-align: center;
}

.content-main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 1000px;
}

.button-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-list li {
  margin: 10px;
}

.button-list li a {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid orange;
  border-radius: 30px;
  color: orange;
  text-decoration: none;
  transition: transform 0.3s, opacity 0.3s;
}

.button-list li a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.button-list li:first-child a {
  font-weight: bold;
  transition: transform 0.8s;
  color: red;
  border: 4px solid darkred;
}

.home-head {
  margin: -90px;
}

.login-box {
  display: inline-block;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  width: 400px;
  height: auto;
  backdrop-filter: blur(3px);
  text-align: center;
}

.home-h2,
.login-box h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bolder;
}

.home-h2 {
  color: #12c2e9;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: red;
}

.login-box button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-box form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: aqua;
  font-size: 20px;
}

.login-box h1,
.login-box p {
  color: darkorange;
}

.sign-up {
  display: inline-block;
  padding: 0 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  width: auto;
  height: auto;
  backdrop-filter: blur(3px);
  text-align: center;
}

.sign-up form label {
  display: block;
  font-weight: normal;
  margin-top: 10px;
  color: aqua;
  font-size: 20px;
}

.sign-up form input,
.sign-up form input::placeholder {
  border-radius: 25px;
  width: 300px;
  height: 40px;
  color: black;
  font-style: italic;
  text-align: center;
  border: none;
}

.sign-up input[type="checkbox"] {
    margin-left: 10px;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#id_profile_picture {
  cursor: pointer;
  height: 40px;
  width: 300px;
  color: red;
}

.profile-pic button {
  color: red;
}

.sign-up button[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 20px;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  margin:30px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px;
}

.text li {
  margin-bottom: 5px;
}

.text button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.text button a {
  color: white;
  text-decoration: none;
}

.text button:hover {
  background-color: #45a049;
}

.custom-main {
  display: flex!important;
  flex-direction: row!important;
  justify-content: start!important;
  gap: 25px!important;
  padding-top: 20px!important;
  margin-top: -230px!important;
  text-align: center;
  align-items: center;
}

.main-cover-pic .title {
  color: blue;
  margin-top: -230px;
}

.custom-main h2.title {
  color: #9ac6ff;
  font-weight: bolder;

}

.btn-create-item {
  margin-top: -210px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: bolder;
  background-color: orange;
}

.btn-create-item:hover {
  background-color: #45a049;
}

.btn-create-item:hover a {
  color: red;
}

.btn-create-item a {
  text-decoration: none;
  color: white;
}
