@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "https://use.fontawesome.com/releases/v6.3.0/css/all.css";

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #ff0000;
  margin-right: 10px;
  height: 30px;
  transition: transform 0.1s, opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.bg-dark {
  background: #12c2e9!important;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9)!important;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9)!important;
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  background-color: #2C3E50;
}

.navbar-dark .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgreen;
  z-index: -1;
}

.navbar-nav .nav-link.btn-primary {
  color: #ff0000;
  background-color: #2C3E50;
  border-color: #ff0000;
}

.navbar-nav .nav-link.btn-primary:hover {
  color: #fff;
  background-color: yellowgreen;
  border-color: #ff0000;
}

#map { height: 300px; width: 700px; }

.main-cover-pic {
  display: flex;
  flex-direction: column;
  background-image: url("../images/collage.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  min-height: 120vh;
  min-width: 100vw;
  object-fit: fill;
}

.content-main {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  height: 1000px;
}
