{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="adopted-happy-pets">
        {% if user.is_authenticated %}
            <button class="btn-adopted-happy-pets"><a href="{% url 'happy_adopted_create' %}">Publish Happy Adopted
                Animal</a></button>
        {% endif %}
        <div class="adopted-pets">
            <h1>Happy Adopted Pets</h1>
            <div class="cards">
                {% for pet in adoptpetmodel_list %}
                    <div class="card">
                        <div class="img">
                            <img src="{{ pet.photo.url }}" alt="{{ pet.name_pet }}">
                        </div>
                        <div class="text">
                            <h2>Name: {{ pet.name_pet }}</h2>
                            <ul>
                                <li>Pet Story: {{ pet.pet_story }}</li>
                                <li>Adopted from: {{ pet.user.first_name }}</li>
                                <li>Adopted on: {{ pet.date_of_adoption }}</li>
                                {% if pet.location %}
                                <li>Currently living in {{ pet.location }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}