{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="adoption-homes">
        {% if request.user.is_authenticated %}
            <button class="btn-adoption-homes"><a href="{% url 'adoption_homes_create' %}">Submit a home</a></button>
        {% endif %}
        <div class="adoption-home-view">
            <h2>Free homes for animals in need</h2>
            <div class="cards">
                {% for home in adoptionhomemodel_list %}
                    <div class="card">
                        <div class="img">
                            <img src="{{ home.picture.url }}" alt="None">
                        </div>
                        <div class="text">
                            <h2>{{ home.title }}</h2>
                            <ul>
                                <li>Province: {{ home.province }}</li>
                                <li>City: {{ home.city }}</li>
                                <li>It is good for {{ home.animal_type }}</li>
                            </ul>
                            <button class="btn-adoption-homes"><a href="{{ home.get_absolute_url }}">More
                                Details</a></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
