{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        {% if user.is_authenticated %}
            <p><a href="{% url 'happy_adopted_create' %}">Post Happy Adopted Animal</a></p>
        {% endif %}
        <h1>Happy Adopted Pets</h1>
        {% for pet in adoptpetmodel_list %}
            <div>
                <h2>Name: {{ pet.name_pet }}</h2>
                <img src="{{ pet.photo.url }}" alt="{{ pet.name_pet }}">
                <p>{{ pet.pet_story }}</p>
                {% if pet.location %}
                    <p>{{ pet.location }}</p>
                {% endif %}
                <p>Adopted from {{ pet.user.first_name }}</p>
                <p>Adopted on {{ pet.date_of_adoption }}</p>
            </div>
        {% endfor %}
    </main>
{% endblock %}