{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        {% if user.is_authenticated %}
            <p><a href="{% url 'animal_adopt_create' %}">Create animal for adoption</a></p>
        {% endif %}
        <h1>Pets, ready for adoption</h1>
        {% for pet in animaladoptreadycreate_list %}
            <div>
                <h2>Name: {{ pet.animal_name }}</h2>
                <img src="{{ pet.picture.url }}" alt="{{ pet.animal_name }}">
                <ul>
                    <li>Animal: {{ pet.animal_type }}</li>

                    <li>{{ pet.location }}</li>
                    <li>{{ pet.details }}</li>
                    {% if pet.other %}
                        <li>{{ pet.other }}</li>
                    {% endif %}
                    <li>Contact with the user {{ pet.user.first_name }}</li>
                </ul>
            </div>
            <button><a href="{% url 'adopt_form' pet.pk %}">CLICK FOR FORM</a></button>
        {% endfor %}
    </main>
{% endblock %}
