{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="adoption-view">
        <button class="btn-adoption-create"><a href="{% url 'animal_adopt_create' %}">Create animal for adoption</a>
        </button>
        <div class="adoption-pets">
            <h1>Pets, ready for adoption</h1>
            {% for pet in animaladoptreadycreate_list %}
                <div class="cards">
                    <div class="card">
                        <div class="img">
                            <img src="{{ pet.picture.url }}" alt="{{ pet.animal_name }}">
                        </div>
                        <div class="text">
                            <h2>{{ pet.animal_name }}</h2>
                            <ul>
                                <li>Animal: {{ pet.animal_type }}</li>
                                <li>It is located in {{ pet.location }}</li>
                                <li>{{ pet.details|truncatechars:80 }}</li>
                                {% if pet.other %}
                                    <li>{{ pet.other|truncatechars:50 }}</li>
                                {% endif %}
                                <li>The animal is currently with {{ pet.user.first_name }}</li>
                            </ul>
                            <button><a href="{% url 'adopt_form' pet.pk %}">Send Request for Adoption</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
