{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="share-animal-view">
        {% if user.is_authenticated %}
            <button class="btn-share-animals"><a href="{% url 'help_animals_create' %}">Share</a></button>
        {% endif %}
        <div class="share-animal">
            <h1 class="title">Animals</h1>
            <div class="cards">
                {% for pet in shareanimalmodel_list %}
                    <div class="card">
                        <div class="img">
                            <img src="{{ pet.main_photo.url }}" alt="photo">
                        </div>
                        <div class="text">
                            <h1>{{ pet.title }}</h1>
                            <ul>
                                <li>{{ pet.user.first_name }}</li>
                                <li>{{ pet.notes }}</li>
                                <li>{{ pet.province }}</li>
                                <li>{{ pet.city }}</li>
                            </ul>
                            <button><a href="{% url 'help_animals_detail' pet.pk %}">Click</a></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

