{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="help-animals-create">
        <form action="{% url 'help_animals_create' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <h5 class="warning-text">** In order to have the proper GPS coordinates, make sure you turned
            on geotagging of the camera when taking pictures!</h5>
    </div>
{% endblock %}
