{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="home-head">Welcome to Pet Help</h1>
    {% if not user.is_authenticated %}
    <p>You are here to help animals in need.</p>
    <p>
        If you dont have an account you can visit the following pages with some limited access.
    </p>
        <ul class="button-list">
            <li><a href="{% url 'help_animals' %}">Animals in need</a></li>
            <li><a href="{% url 'happy_adopted' %}">Happy Adopted Pets</a></li>
            <li><a href="{% url 'petshop' %}">Our Petshop</a></li>
        </ul>
    <p>For full access, make an <a href="#">account</a> or <a href="#">log in</a></p>
    {% else %}
        <h2 class="home-h2">Welcome back {{ request.user.get_full_name }}</h2>
        {% if user.profile_picture %}
            <div class="profile-pic-frame">
                <img src="{{ user.profile_picture.url }}" alt="None">
            </div>
        {% else %}
            <div class="profile-pic-frame">
                <img src="{% static 'images/default.JPG' %}" alt="None">
            </div>
        {% endif %}
        <div class="shop-titles">
            <p style="color: greenyellow; font-size: 30px">
                Check out our <a href="{% url 'petshop' %}" style="text-decoration: none;">Petshop</a> or help an animal
            <a href="{% url 'help_animals_create' %}" style="text-decoration: none;">HERE</a></p>
        </div>
    {% endif %}

{% endblock %}
