{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <button type="submit" class='btn-create-item'><a href="{% url 'create_petshop' %}">Create an Item</a></button>
    {% endif %}
    {% if itemshop_list %}
        <h2 class="title">Items for sale</h2>
        <div class="custom-main">
            {% for item in itemshop_list %}
                <div class="cards">
                    <div class="card">
                        <div class="img">
                            <img src="{{ item.main_photo.url }}" alt="No Photo"/>
                        </div>
                        <div class="text">
                            <h2>
                                {{ item.title }}
                            </h2>
                            <ul>
                                <li>Price: {{ item.price }} BGN</li>
                            </ul>
                            <button><a href="{% url 'details_petshop' item.pk %}">Details</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>There are no items for sale at this moment</h4>
    {% endif %}
{% endblock %}