{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        {% if itemshop_list %}
            <h2>Items for sale</h2>
                <section id="items_sales">
                    <ul>
                        {% for item in itemshop_list %}
                            <li>
                                <div class="item_sale">
                                    <img src="{{ item.main_photo.url }}" alt="No picture available">
                                    <h3>{{ item.title }}</h3>
                                    <p class="description">{{ item.description }}</p>
                                    <p id="price_item">{{ item.price }}</p>
                                    <p id="quantity_item">{{ item.available_quantity }}</p>
                                    {% for pic in item.pictures.all %}
                                        <div class="picture_item_sales">
                                            <img src="{{ pic.url }}" alt="No picture!">
                                        </div>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
        {% else %}
            <h4>There are no items for sale at this moment</h4>
        {% endif %}
    </main>
{% endblock %}